# Go mod ve sum dosyaları hariç, diğer tüm bağımlılık klasörlerini hariç tut
vendor/
Gopkg.lock
Gopkg.toml
*.log

# Go binary dosyalarını hariç tut
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Goland ve diğer IDE/Editor dosyaları
.idea/
.vscode/
*.iml

# Derleme cache klasörleri
*.cache/
*.o
*.a
*.out

# Çıktı dosyaları
bin/
out/

# Test coverage dosyaları
*.cover
*.prof

# Environment dosyaları
.env

# Docker ve diğer container yönetimi dosyaları (opsiyonel)
docker-compose.override.yml
.env.local
